<ul class="unstyled">
  {{#each persons}}
    {{#with this}}
      <li class="draggable-person {{type}}" data-behavior="draggable" data-picture="{{picture}}">
        <div class="left pull-left">
          <div class="img"{{#if picture}} style="background-image: url({{picture}})"{{/if}}></div>
          
          <h1>{{name}}</h1>
          {{#if headline}}
            <p>{{headline}}</p>
          {{/if}}
        </div>
        <div class="right pull-left">
          <button class="btn btn-mini{{#if is_starred}} active{{/if}}" data-behavior="star" data-identifier="{{identifier}}">
            <i class="icon icon-star"></i>
          </button>
        </div>
      </li>
    {{/with}}
  {{/each}}
</ul>
