<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "user-edit", :data => { :behavior => "user-edit" } }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, :required => true, :autofocus => true %>
    <%= f.input :name, :required => true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false %>
    <%= f.input :password_confirmation, :required => false %>
  </div>

  <h2>Emails</h2>
  <div data-behavior="fieldset">
    <div data-behavior="sets">
    <% if resource.authorizations.email %>
      <% resource.authorizations.email.each_with_index do |email, i| %>
      <div data-behavior="container">
        <span class="hidden" data-behavior="index"><%= i %></span>

        <div class="preview" data-behavior="preview">
          <p>
            <%= email.uid %>
            
            <% if !email.confirmed? %>
              — <i>unconfirmed</i>
            <% end %>
          </p>

          <div class="buttons">
            <a href="#" class="btn btn-mini" data-behavior="set-destroy"><i class="icon-remove"></i></a>
            <!-- <a href="#" class="btn btn-mini" data-behavior="set-edit"><i class="icon-edit"></i></a> -->
          </div>
        </div>

        <div class="set" data-behavior="set">
        <%= f.simple_fields_for :emails do |n| %>
          <%= n.input :uid, label: "Email", input_html: { name: "user[emails][#{i}]", value: email.uid } %>
        <% end %>
        </div>
      </div>
      <% end %>
    <% end %>
    </div>

    <div class="hidden" data-behavior="template">
      <span class="hidden" data-behavior="index">-1</span>

      <div class="set" data-behavior="set">
      <%= f.simple_fields_for :emails do |n| %>
        <%= n.input :uid, label: "Email", input_html: { name: "user[emails][%i]" } %>
      <% end %>
      </div>
    </div>

    <a href="#" class="btn" data-behavior="new">New</a>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update", class: "btn btn-primary" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>

<%= link_to "Back", :back %>
