<% insert ||= false %>
<% if !insert %>
  <%= link_to image_tag("btn-back.png"), "#", class: "hide-breadcrumb" if params[:action] != "show" %>
<% end %>

<% if !insert %>
<ul class="breadcrumb">
<% end %>

  <% path = chart_path(@chart.slug_or_id) %>
  <li><%= link_to truncate(@chart.title, length: 40), path %> <span class="divider">&rarr;</span></li>
  <% @node.parents.reverse.each do |node| %>
    <% path = chart_node_path(chart_id: @chart.slug_or_id, id: node.id) %>
    <li><%= link_to truncate(node.normalized_title, length: 40), path %> <span class="divider">&rarr;</span></li>
  <% end %>
  
  <!-- Display siblings for desktop -->
  <% siblings = @node.parent? ? Chart.find_nodes(@node.siblings) : Chart.find_nodes(@chart.nodes.roots) %>
  <li class="active">
    <% if siblings.any? %>
      <%= link_to truncate(@node.normalized_title, length: 40), "#siblings" %>
    <% else %>
      <%= truncate(@node.normalized_title, length: 40) %>
    <% end %>
  </li>
  
  <% if siblings.any? %>
  <div id="siblings" class="popover">
    <div class="list">
    <% siblings.each do |node| %>
      <% path = chart_node_path(chart_id: @chart.slug_or_id, id: node.id) %>
      <%= link_to truncate(node.normalized_title, length: 40), path %>
    <% end %>
    </div>
  </div>
  <% end %>
  
  <!-- Display latest entry with children everywhere -->
  <% children = Chart.find_nodes(@node.children) %>
  <% if children.any? %>
    <li class="hidden-phone">
      <span class="divider">&rarr;</span>
      <%= link_to "...", "#children" %>
    </li>
  <% end %>
  
  <% if children.any? %>
    <% children.each do |node| %>
      <% path = chart_node_path(chart_id: @chart.slug_or_id, id: node.id) %>
      <li class="visible-phone"><%= link_to truncate(node.normalized_title, length: 40), path %></li>
    <% end %>
    
    <div id="children" class="popover">
      <div class="list">
      <% children.each do |node| %>
        <% path = chart_node_path(chart_id: @chart.slug_or_id, id: node.id) %>
        <%= link_to truncate(node.normalized_title, length: 40), path %>
      <% end %>
      </div>
    </div>
  <% end %>

<% if !insert %>
</ul>
<% end %>
