<%= link_to image_tag("btn-back.png"), "#", class: "hide-breadcrumb" if params[:action] != "show" %>

<ul class="breadcrumb">
  <% path = params[:action] == "edit" ? edit_chart_path(@chart.slug_or_id) : chart_path(@chart.slug_or_id) %>
  <li><%= link_to @chart.title, path %> <span class="divider">&rarr;</span></li>
  <% @node.parents.reverse.each do |node| %>
    <% path = params[:action] == "edit" ? edit_chart_node_path(chart_id: @chart.slug_or_id, id: node.id) : chart_node_path(chart_id: @chart.slug_or_id, id: node.id) %>
    <li><%= link_to node.title, path %> <span class="divider">&rarr;</span></li>
  <% end %>

  <% children = Chart.find_nodes(@node.children) %>
  <li class="active">
    <% if children.any? %>
      <%= link_to @node.title, "#nodes" %>
    <% else %>
      <%= @node.title %>
    <% end %>
  </li>

  <% if children.any? %>
    <% children.each do |node| %>
      <% path = params[:action] == "edit" ? edit_chart_node_path(chart_id: @chart.slug_or_id, id: node.id) : chart_node_path(chart_id: @chart.slug_or_id, id: node.id) %>
      <li class="visible-phone"><%= link_to node.title, path %></li>
    <% end %>

    <div id="nodes" class="popover">
      <div class="list">
      <% children.each do |node| %>
        <% path = params[:action] == "edit" ? edit_chart_node_path(chart_id: @chart.slug_or_id, id: node.id) : chart_node_path(chart_id: @chart.slug_or_id, id: node.id) %>
        <%= link_to node.title, path %>
      <% end %>
      </div>
    </div>
  <% end %>
</ul>
