<% insert ||= false %>
<% if !insert %>
<div class="header">
<% end %>

  <h1><%= @node.normalized_title %></h1>
  <ul>
    <% @persons.each do |node| %>
    <% person = @chart.find_person(node.title) || next %>
    <li>
      <div onclick="App.chart.click('<%= node.id %>')">
        <% if person.picture_url.present? %>
          <%= image_tag person.picture_url %>
        <% else %>
          <%= image_tag "/images/ico-person.png" %>
        <% end %>
        
        <h2><%= person.name %></h2>
        <% if person.headline.present? %>
        <h3><%= person.headline %></h3>
        <% end %>
      </div>
    </li>
    <% end if @persons %>
  </ul>

<% if !insert %>
</div>
<% end %>
