<ul class="breadcrumb">
  <li><%= link_to @chart.title, edit_chart_path(@chart.slug_or_id) %> <span class="divider">&rarr;</span></li>
  <% @node.parents.each do |node| %>
  <li><%= link_to node.title, edit_chart_node_path(chart_id: @chart.slug_or_id, id: node.id) %> <span class="divider">&rarr;</span></li>
  <% end %>
  
  <% children = Chart.find_nodes(@node.children) %>
  <li class="active">
    <% if children.any? %>
      <%= link_to @node.title, "#nodes" %>
    <% else %>
      <%= @node.title %>
    <% end %>
  </li>
  
  <% if children.any? %>
  <div id="nodes" class="popover">
    <div class="list">
    <% children.each do |node| %>
      <%= link_to node.title, edit_chart_node_path(chart_id: @chart.slug_or_id, id: node.id) %>
    <% end %>
    </div>
  </div>
  <% end %>
</ul>

<div class="chart">
  <div class="left">
    <%= render partial: "/charts/editor", locals: { hidden: { previous_text: @chart.previous_text, current_text: @chart.text } } %>
  </div>
  <div class="right">
    <%= render partial: "/charts/canvas", locals: { chart: @chart } %>
    <ins data-init="chart-show" data-chart="<%= @chart.to_json %>"></ins>
  </div>
  <div class="clr"></div>
</div>
