<%
  chart ||= nil
%>
<header>
  <div class="wrapper">
    <div class="row-fluid">
      <div class="span<% if !user_signed_in? && !chart %>8<% else %>6<% end %>">
        <% if chart %>
          <figure>
            <%= link_to image_tag("logo-icon.png", title: t("app.name"), alt: t("app.name")), root_path, class: "icon default" %>
            <%= link_to image_tag("logo-icon-filled.png", title: t("app.name"), alt: t("app.name")), root_path, class: "icon filled hidden" %>
            <%= link_to image_tag("logo-icon-error.png", title: t("app.name"), alt: t("app.name")), "#error", class: "icon error hidden" %>
            <div class="saving hidden"></div>
            <div id="error" class="popover">
              <div class="list">
                <a href="#"><%= t("charts.autosave.connection") %></a>
              </div>
            </div>
          </figure>
          
          <div class="table">
            <div class="cell title">
              <h1><%= link_to chart.title, chart_path(chart.slug_or_id) %></h1>
              <%= link_to image_tag("btn-big-arrow.png"), "#", class: "hidden-phone" %>
              <%= link_to image_tag("btn-share.png"), "#", class: "visible-phone" %>
            </div>
          </div>
        <% else %>
          <figure>
            <%= link_to image_tag("logo.png", title: t("app.name"), alt: t("app.name")), root_path %>
          </figure>
          
          <% if !user_signed_in? %>
          <span class="slogan hidden-phone"><%= t("app.description").downcase %></span>
          <% end %>
        <% end %>
      </div>
      
      <% if user_signed_in? || chart %>
      <div class="span3">
        <div class="table buttons">
          <div class="cell controls">
            <% if user_signed_in? && !chart %>
              <div class="btn-group">
                <a href="<%= url_for(view: nil) %>" class="btn btn-grid"><i class="icon-align-left"></i></a>
                <a href="<%= url_for(view: :list) %>" class="btn btn-list"><i class="icon-align-left"></i></a>
              </div>
            <% end %>
            
            <%= link_to image_tag("btn-create-white.png", alt: t("charts.create"), title: t("charts.create")), charts_path, class: "create" %>
            
            <% if chart %>
              <% if params[:action] != "edit" && can?(:edit, chart) && !["versions", "nodes"].include?(params[:controller]) %>
                <%= link_to t("charts.edit"), edit_chart_path(chart.slug_or_id), class: "box hidden-phone" %>
              <% elsif params[:action] == "edit" && params[:controller] == "nodes" %>
                <!--<%= link_to t("charts.back"), edit_chart_path(chart.slug_or_id), class: "box hidden-phone" %>-->
              <% elsif !["versions", "nodes"].include?(params[:controller]) %>
                <%= link_to t("charts.pdf"), chart_path(chart.slug_or_id, format: :pdf), target: "_blank", class: "box hidden-phone" %>
                <!--<%= link_to t("charts.png"), chart_path(chart.slug_or_id, format: :png) %>-->
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
      
      <div class="span<% if !user_signed_in? && !chart %>4<% else %>3<% end %>">
        <aside class="table">
          <div class="cell profile" data-init="user">
            <%= render partial: "/shared/profile" %>
          </div>
        </aside>
      </div>
    </div>
  </div>
</header>