<%
  chart ||= nil
%>
<header>
  <div class="wrapper">
    <div class="row-fluid">
      <div class="span<% if !user_signed_in? && !chart %>8<% else %>6<% end %>">
        <% if chart %>
          <figure>
            <%= link_to image_tag("logo-icon.png", title: t("app.name"), alt: t("app.name")), root_path, class: "icon default" %>
            <%= link_to image_tag("logo-icon-filled.png", title: t("app.name"), alt: t("app.name")), root_path, class: "icon filled hidden" %>
            <%= link_to image_tag("logo-icon-error.png", title: t("app.name"), alt: t("app.name")), "#error", class: "icon error hidden" %>
            <div class="saving hidden"></div>
            <div id="error" class="popover">
              <div class="list">
                <a href="#"><%= t("charts.autosave.connection") %></a>
              </div>
            </div>
          </figure>
          
          <div class="table">
            <div class="cell title<%= " locked" unless can?(:edit, chart) %>">
              <h1><%= link_to chart.title, chart_path(chart.slug_or_id), class: "chart-title" %></h1>
              <%= link_to image_tag("btn-big-arrow.png"), "#context", class: "context hidden-phone", data: { normal: image_path("btn-big-arrow.png"), selected: image_path("btn-big-arrow-selected.png") } %>
              <%= link_to image_tag("btn-share.png"), "#context", class: "context visible-phone" %>
              
              <div id="context" class="popover tiny">
                <div class="list">
                  <% if can?(:edit, chart) && can?(:destroy, chart) %>
                    <%= link_to t("charts.share.title"), chart_path(chart.slug_or_id), class: "btn-share" if user_signed_in? %>
                    <%= link_to t("charts.rename.title"), chart_path(chart.slug_or_id), class: "btn-rename" %>
                    <%= link_to t("charts.history.title"), chart_path(chart.slug_or_id), class: "btn-history" %>
                    <% if !chart.owner || (user_signed_in? && chart.owner && chart.owner.id == current_user.id) %>
                      <%= link_to t("charts.delete.title"), chart_path(chart.slug_or_id), class: "btn-delete" %>
                    <% else %>
                      <%= link_to t("charts.unsubscribe.title"), chart_path(chart.slug_or_id), class: "btn-delete" %>
                    <% end %>
                  <% else %>
                    <%= link_to t("charts.unsubscribe.title"), chart_path(chart.slug_or_id), class: "btn-delete" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          
          <p class="updated">
            <%= render partial: "/charts/updated", locals: { chart: chart } %>
          </p>
        <% else %>
          <figure>
            <%= link_to image_tag("logo.png", title: t("app.name"), alt: t("app.name")), root_path %>
          </figure>
          
          <% if !user_signed_in? %>
          <span class="slogan hidden-phone"><%= t("app.description").downcase %></span>
          <% end %>
        <% end %>
      </div>
      
      <% if user_signed_in? || chart %>
      <div class="span3">
        <div class="table buttons">
          <div class="cell controls">
            <% if user_signed_in? && !chart && ["landing", "charts", "versions", "nodes"].include?(params[:controller]) %>
              <div class="btn-group">
                <a href="<%= url_for(view: nil) %>" class="btn btn-grid<%= " active" if params[:view].blank? %>"><i class="icon-charts-grid"></i></a>
                <a href="<%= url_for(view: :list) %>" class="btn btn-list<%= " active" if params[:view] == "list" %>"><i class="icon-charts-list"></i></a>
              </div>
              
            <% end %>

            <% if ["landing", "charts", "versions", "nodes"].include?(params[:controller]) %>
              <%= link_to image_tag("btn-create-white.png", alt: t("charts.create"), title: t("charts.create")), charts_path, class: "create" %>
            <% end %>
            
            <% if chart %>
              <% if !["versions"].include?(params[:controller]) %>
                <%= link_to t("charts.pdf"), url_for(action: :show, format: :pdf), target: "_blank", class: "pdf box hidden-phone" %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
      
      <div class="span<% if !user_signed_in? && !chart %>4<% else %>3<% end %>">
        <aside class="table">
          <div class="cell profile" data-init="user">
            <%= render partial: "/shared/profile" %>
          </div>
        </aside>
      </div>
    </div>
  </div>
</header>