<header>
  <div class="row-fluid">
    <div class="span4">
      <div class="logo">
        <%= link_to image_tag("logo.svg", alt: t("app.name"), title: t("app.name")), root_path %>
        <h1><%= t("app.words").first %><strong><%= t("app.words").last %></strong></h1>
      </div>
    </div>
    
    <div class="span5">
      <div class="search">
        <%= form_for(:search, html: { class: "form-search" }) do |f| %>
          <%= f.text_field :query, placeholder: t("app.search_charts") %>
          <%= f.button content_tag(:i, class: "icon-search") {} %>
        <% end %>
      </div>
    </div>
    
    <div class="span3">
      <div class="menu">
        <%= link_to image_tag("ico-menu.svg", alt: t("app.name"), title: t("app.name")), "#", data: { behavior: "toggle-navigation" } %>
      </div>
      
      <div class="profile">
        <% if user_signed_in? %>
          <%= link_to image_tag(current_user.picture.url), edit_user_registration_path %>
        <% else %>
          <%= link_to image_tag("ico-person.png"), new_user_session_path %>
        <% end %>
      </div>
    </div>
  </div>
</header>

<div class="navigation-overlay" data-behavior="navigation-overlay"></div>
<div class="navigation" data-behavior="navigation">
  <div class="row-fluid">
    <div class="span2">
      <ul class="unstyled">
        <li class="header">
          <%= link_to t("pages.main.title"), root_path %>
        </li>
        <li class="header">
          <%= link_to t("pages.explore.title"), "#" %>
        </li>
        <li class="header">
          <%= link_to t("pages.search.title"), "#" %>
        </li>
      </ul>
    </div>
    
    <div class="span2">
      <ul class="unstyled">
        <li class="header">
          <%= link_to "Zeptolab", "#" %> <i class="icon-ok"></i>
        </li>
        <li><%= link_to "Organization", "#" %></li>
        <li><%= link_to "Promo", "#" %></li>
        <li><%= link_to "New project", "#" %></li>
      </ul>
      
      <ul class="unstyled">
        <li class="header">
          <%= link_to "Kittyhug", "#" %> <i class="icon-ok"></i>
        </li>
        <li><%= link_to "Dream team", "#" %></li>
        <li><%= link_to "New chart", "#" %></li>
      </ul>
    </div>
    
    <div class="span2">
    </div>
    <div class="span2">
    </div>
    <div class="span1">
    </div>
    
    <div class="span3">
      <ul class="unstyled">
        <li class="header">
          <%= t("app.recently_viewed") %>
        </li>
        <li>
          <span><%= link_to "Microsoft", "#" %> <i class="arrow">&#10142;</i></span>
          <%= link_to "Kinect chart", "#" %>
        </li>
        <li>
          <span><%= link_to "Digital October", "#" %> <i class="arrow">&#10142;</i></span>
          <%= link_to "Promo chart", "#" %>
        </li>
        <li>
          <span><%= link_to "Dream industries", "#" %> <i class="arrow">&#10142;</i></span>
          <%= link_to "Zvooq", "#" %>
        </li>
      </ul>
    </div>
  </div>
</div>
