<div class="widget {{type}}" data-type="{{type}}" data-config="{{stringify_json config}}" data-behavior="widget" data-dropped="true">
  {{#if_eq type compare="text"}}
  <form class="form">
    {{#if_eq area compare="about"}}
      <textarea name="contents" placeholder="{{i18n "organizations.edit.widgets.text.about_placeholder"}}">{{get_value "contents" context=values}}</textarea>
    {{else}}
      <textarea name="contents" placeholder="">{{get_value "contents" context=values}}</textarea>
    {{/if_eq}}
  </form>
  {{/if_eq}}
  
  {{#if_eq type compare="picture"}}
  <form class="form">
    <input type="hidden" name="url" value="{{get_value "url" context=values}}" data-behavior="url" />
    
    <div class="selected" data-behavior="selected">
      <input class="file-upload" type="file" name="upload" data-behavior="picture-upload">
      <div class="actions" data-behavior="actions">
        <i class="icon-picture"></i> {{i18n "organizations.edit.widgets.picture.actions"}}
      </div>
    </div>
  </form>
  {{/if_eq}}
  
  {{#if_eq type compare="chart"}}
  <form class="form">
    <input type="hidden" name="id" value="{{get_value "id" context=values}}" data-behavior="id" />
    
    <div class="left">
      <h3 data-behavior="title"></h3>
      <a href="#" class="btn btn-action btn-select-view">
        <i class="icon-list"></i> {{i18n "organizations.edit.widgets.chart.select_view"}}
      </a>
      
      <div class="selected">
        <a href="#" class="btn btn-action" data-behavior="browse-charts"><i class="icon-table"></i> {{i18n "organizations.edit.widgets.chart.browse_charts"}}</a>
        <img data-behavior="picture" src="/images/ico-chart-sample.jpg" />
      </div>
    </div>
    <div class="right">
      <h3>{{i18n "app.recently_edited"}}</h3>
      
      <ul class="unstyled">
        {{#each_with_value "recent_charts" context=collections}}
          {{#with this}}
          <li><a href="#" data-behavior="select-chart" data-chart="{{stringify_json this}}">{{title}}</a></li>
          {{/with}}
        {{/each_with_value}}
      </ul>
    </div>
  </form>
  {{/if_eq}}
  
  <!--<form class="form">
    {{#each_with_value "keys" context=config}}
      {{#with this}}
        {{#if_eq as compare="string"}}
        <input name="{{name}}" placeholder="{{name}}" value="{{get_value name context=../../../values}}" />
        {{/if_eq}}
        
        {{#if_eq as compare="text"}}
        <textarea name="{{name}}" placeholder="{{name}}">{{get_value name context=../../../values}}</textarea>
        {{/if_eq}}
        
        {{#if_eq as compare="select"}}
        <select name="{{name}}">
          {{#each_with_value collection context=../../../collections}}
            <option value="{{get_value 0 context=this}}">{{get_value 1 context=this}}</option>
          {{/each_with_value}}
        </select>
        {{/if_eq}}
      {{/with}}
    {{/each_with_value}}
  </form>-->
  
  <div class="buttons">
    <a href="#" data-behavior="widget-destroy"><i class="icon-remove"></i></a>
  </div>
</div>
