<div class="widget {{type}}" data-type="{{type}}" data-config="{{stringify_json config}}" data-behavior="widget" data-dropped="true">
  <form class="form">
    {{#each_with_value "keys" context=config}}
      {{#with this}}
        {{#if_eq as compare="string"}}
        <input name="{{name}}" placeholder="{{name}}" value="{{get_value name context=../../../values}}" />
        {{/if_eq}}
        
        {{#if_eq as compare="text"}}
        <textarea name="{{name}}" placeholder="Tell a short story about your company — what does your company do and why it’s important. Be brief, be clear, be straightforward. At about 70 words / 500 characters we’ll curb your enthusiasm.">{{get_value name context=../../../values}}</textarea>
        {{/if_eq}}
        
        {{#if_eq as compare="select"}}
        <select name="{{name}}">
          {{#each_with_value collection context=../../../collections}}
            <option value="{{get_value 0 context=this}}">{{get_value 1 context=this}}</option>
          {{/each_with_value}}
        </select>
        {{/if_eq}}
      {{/with}}
    {{/each_with_value}}
  </form>
  
  <div class="buttons">
    <a href="#" class="btn btn-mini" data-behavior="widget-destroy"><i class="icon-remove"></i></a>
  </div>
</div>
