<%
  chart ||= nil
%>
<div class="canvas" data-init="chart">
<%
=begin
%>
  <% if chart %>
  <div class="side">
    <% if can?(:edit, chart) %>
      <% if params[:controller] == "versions" %>
        <%= link_to t("charts.latest"), edit_chart_path(chart.slug_or_id) %> |
        <%= link_to t("charts.edit"), edit_chart_version_path(chart.id) %>
      <% elsif params[:controller] == "nodes" %>
        <%= link_to t("charts.back"), edit_chart_path(chart.slug_or_id) %> |
        <%= link_to t("charts.edit_node"), edit_chart_node_path(chart.id) %>
      <% else %>
        <% if can?(:token, chart) %>
          <%= link_to t("charts.versions"), chart_versions_path(chart.slug_or_id) %> |
        <% end %>
        
        <%= link_to t("charts.edit"), edit_chart_path(chart.id) %> |
        <% if chart.user_id && can?(:token, chart) %>
          <%= link_to t("charts.edit_token"), token_chart_path(id: chart.id, token: chart.token) %> |
        <% end %>
      <% end %>
    <% end %>
    
    <% if !["versions", "nodes"].include?(params[:controller]) %>
      <%= link_to t("charts.pdf"), chart_path(chart.slug_or_id, format: :pdf) %> |
      <%= link_to t("charts.png"), chart_path(chart.slug_or_id, format: :png) %>
    <% end %>
  </div>
  <% end %>
<%
=end
%>

  <div id="canvas" data-no-turbolink></div>
</div>
