<%
  hidden ||= {}
%>
<%= link_to image_tag("btn-canvas.png"), "#", class: "hide-editor" %>
<div class="editor" data-init="chart-edit">
  <%= form_for @chart, url: url_for(params[:chart_id] ? { chart_id: @chart.id, action: :update } : { id: @chart.id, action: :update }) do |f| %>
    <h3 class="hidden"><%= t("charts.autosave.loaded") %></h3>
    <%= f.hidden_field :sidebar %>
    <% hidden.each do |key, value| %>
      <%= f.hidden_field key, value: value %>
    <% end %>
    
    <div class="buttons">
      <button class="btn add-person"><span>+</span> <%= t("charts.add_person") %></button>
      <button class="btn left-indent"><span>&larr;</span> <%= t("charts.indent") %></button>
      <button class="btn right-indent"><span>&rarr;</span> <%= t("charts.indent") %></button>
      <button class="btn move hidden-phone"><span class="r">&harr;</span> <%= t("charts.move") %></button>
    </div>
    
    <div class="text">
      <ul>
      </ul>
      
      <!--<%= f.text_field :title %>-->
      <%= f.text_area :text, class: "edit", data: { autocomplete: chart_persons_path(chart_id: @chart.id) } %>
      
      <div class="hidden">
        <h2><%= t("charts.connections") %></h2>
        <ul>
        </ul>
      </div>
    </div>
    
    <!--<%= f.submit %>-->
  <% end %>
</div>