<%
  hidden ||= {}
%>
<div class="form" data-init="chart-edit">
  <%= form_for @chart, url: url_for(params[:chart_id] ? { chart_id: @chart.id, action: :update } : { id: @chart.id, action: :update }) do |f| %>
    <% hidden.each do |key, value| %>
      <%= f.hidden_field key, value: value %>
    <% end %>
    
    <h3><%= t("charts.autosave.loaded") %></h3>
    <%= f.text_field :title %>
    <%= f.text_area :text %>
    <%= f.submit %>
  <% end %>
</div>