<div class="chart form" data-init="chart-edit">
  <%= form_for @chart, url: chart_path(@chart.id) do |f| %>
    <h3><%= t("charts.autosave.loaded") %></h3>
    <%= f.text_field :title %>
    <%= f.text_area :text %>
    <%= f.submit %>
  <% end %>
</div>