<div class="overlay delete">
  <div class="box">
    <div class="content">
      <h1><%= t("charts.delete.confirm") %></h1>
    </div>
    <div class="buttons">
      <button class="half fire" data-action="<%= chart_path(chart.slug_or_id) %>"><%= t("charts.delete.fire") %></button>
      <button class="half cancel"><%= t("charts.cancel") %></button>
    </div>
  </div>
</div>

<div class="overlay history" data-action="<%= chart_versions_path(chart.slug_or_id) %>">
  <div class="box">
    <div class="header">
      <h1><%= t("charts.history.descr") %></h1>
      <button class="cancel"></button>
    </div>
    <div class="content">
    </div>
  </div>
</div>

<div class="overlay share">
  <div class="box">
    <div class="content">
      <h1><%= t("charts.share.descr") %></h1>
      <%= simple_form_for(:share, html: { class: "form-horizontal" }, url: share_chart_path(chart.slug_or_id)) do |f| %>
        <%= f.input :type, as: :hidden, input_html: { value: "" } %>
        <div class="control-group">
          <label class="control-label" for="share[email]">
            <%= t("charts.share.public") %>
            <span><%= t("charts.share.public_descr") %></span>
          </label>
          <div class="controls">
            <% url = short_chart_url(chart.slug_or_id, host: Cloudchart::Application.config.short_domain) %>
            <% text = url.gsub(/https?:\/\//, "") %>
            <%= f.input :public, as: :hidden, input_html: { value: url } %>
            <%= f.input :public_email, label: false, input_html: { value: text, data: { value: text } } %>
            <button class="btn btn-small copy" data-clipboard-text="<%= url %>" data-replace="×"><%= t("charts.share.copy") %></button>
            <button class="btn btn-small email" data-send="<%= t("charts.share.send") %>" data-type="public" data-error="<%= t("charts.share.error") %>" data-sent="<%= t("charts.share.sent") %>"><%= t("charts.share.email") %></button>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="share[email]">
            <%= t("charts.share.private") %>
            <span><%= t("charts.share.private_descr") %></span>
          </label>
          <div class="controls">
            <% url = short_token_chart_url(id: chart.slug_or_id, token: chart.token, host: Cloudchart::Application.config.short_domain) %>
            <% text = url.gsub(/https?:\/\//, "") %>
            <%= f.input :private, as: :hidden, input_html: { value: url } %>
            <%= f.input :private_email, label: false, input_html: { value: text, data: { value: text } } %>
            <button class="btn btn-small copy" data-clipboard-text="<%= url %>" data-replace="×"><%= t("charts.share.copy") %></button>
            <button class="btn btn-small email" data-send="<%= t("charts.share.send") %>" data-type="private" data-error="<%= t("charts.share.error") %>" data-sent="<%= t("charts.share.sent") %>"><%= t("charts.share.email") %></button>
          </div>
        </div>
      <% end %>
    </div>
    <div class="buttons">
      <button class="cancel"><%= t("charts.share.return") %></button>
    </div>
  </div>
</div>

<%= render partial: "/persons/autocomplete" %>

<div class="overlay person">
  <div class="box">
    <div class="content profile">
      
    </div>
    <div class="buttons">
      <button class="cancel"><%= t("charts.person.return") %></button>
    </div>
  </div>
</div>

