<%
  person ||= Person.new
  title ||= ""
%>
<div class="overlay persons">
  <div class="box">
    <div class="content">
      <%= simple_form_for(person, html: { class: "form-horizontal" }, url: chart_persons_path(chart_id: @chart.id) ) do |f| %>
        <div class="control-group">
          <div class="control-label">
            <%= image_tag "ico-person.png", class: "person", data: { icon: image_path("ico-person.png") } %>
          </div>
          <div class="controls">
            <div class="input">
              <%= f.text_field :q, label: false, data: { value: person.name } %>
            </div>
            <%= f.submit value: "" %>
          </div>
        </div>
        <div class="control-group">
          <div class="control-label">
            <%= image_tag "ico-best-guess.png", class: "best-guess" %>
          </div>
          <div class="controls">
            <div class="holder"><h3></h3></div>
            <% if user_signed_in? %>
            <ul class="list">
            </ul>
            <div class="profile">
              <% if !person.new_record? %>
                <%=
                  render partial: "/persons/profile", locals: {
                    title: title,
                    chart: chart,
                    note: note,
                    person: person
                  }
                %>
              <% end %>
            </div>
            <% else %>
            <h3><%= t("common.please_sign_in") %></h3>
            <% end %>
            <%= render partial: "/shared/loading" %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="buttons for-list">
      <button class="fire"><%= t("charts.persons.okay") %></button>
    </div>
    <div class="buttons for-profile">
      <button class="half fire"><%= t("charts.persons.add") %></button>
      <button class="half return"><%= t("charts.persons.return") %></button>
    </div>
  </div>
</div>
