<% if person %>
  <% if person["picture_url"].present? %>
    <%= image_tag person["picture_url"] %>
  <% end %>
  
  <div class="right">
    <h2><%= "#{person["first_name"]} #{person["last_name"]}" %></h2>
    <h3><%= person["headline"] %></h3>
    
    <% if person["summary"].present? %>
      <p><%= simple_format person["summary"] %></p>
    <% end %>
    
    <% if person["site-standard-profile-request"] %>
    <p class="links">
      <%= link_to t("common.linkedin"), person["site-standard-profile-request"]["url"], class: "linkedin", target: "_blank" %>
    </p>
    <% end %>
  </div>
<% else %>
  <h1><%= t("charts.person.not_found") %></h1>
<% end %>
