<% if person %>
  <% if person.picture_url.present? %>
    <%= image_tag person.picture_url %>
  <% end %>
  
  <div class="right">
    <h2><%= person.name %></h2>
    <h3><%= person.headline %></h3>
    
    <% if person.description.present? %>
      <p><%= simple_format person.description %></p>
    <% end %>
    
    <% if person.profile_url %>
    <p class="links">
      <%= link_to t("common.linkedin"), person.profile_url, class: "linkedin", target: "_blank" %>
    </p>
    <% end %>
  </div>
<% else %>
  <h1><%= t("charts.person.not_found") %></h1>
<% end %>
