<%= simple_form_for(@person, url: person_path(id: @person.identifier, token: params[:token]), html: { class: "form-horizontal", data: { behavior: "person-edit"} }) do |f| %>
  <%= debug @person.errors.full_messages if @person.errors.any? %>
  
  <h1>Personal</h1>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :gender, as: :select, collection: @person.gender_enum %>
  <%= f.input :hometown %>
  <%= f.input :location %>
  <%= f.input :description %>
  
  <h1>Education</h1>
  <div data-behavior="fieldset">
    <div data-behavior="sets">
    <% if @person.education %>
      <% @person.education.each_with_index do |education, i| %>
      <div>
        <h2 data-behavior="index"><%= i %></h2>
        <%= f.simple_fields_for :education do |n| %>
          <%= n.input :name, required: true, input_html: { name: "person[education][#{i}][name]", value: education["name"] } %>
          <%= n.input :type, required: false, input_html: { name: "person[education][#{i}][type]", value: education["type"] } %>
          <%= n.input :degree, required: false, input_html: { name: "person[education][#{i}][degree]", value: education["degree"] } %>
          <%= n.input :concentration, required: false, input_html: { name: "person[education][#{i}][concentration]", value: education["concentration"] } %>
          <%= n.input :start_year, required: false, input_html: { name: "person[education][#{i}][start_year]", value: education["start_year"] } %>
          <%= n.input :end_year, required: false, input_html: { name: "person[education][#{i}][end_year]", value: education["end_year"] } %>
        <% end %>
      </div>
      <% end %>
    <% end %>
    </div>
    
    <div class="hidden" data-behavior="template">
      <h2 data-behavior="index">-1</h2>
      <%= f.simple_fields_for :education do |n| %>
        <%= n.input :name, required: true, input_html: { name: "person[education][%i][name]" } %>
        <%= n.input :type, required: false, input_html: { name: "person[education][%i][type]" } %>
        <%= n.input :degree, required: false, input_html: { name: "person[education][%i][degree]" } %>
        <%= n.input :concentration, required: false, input_html: { name: "person[education][%i][concentration]" } %>
        <%= n.input :start_year, required: false, input_html: { name: "person[education][%i][start_year]" } %>
        <%= n.input :end_year, required: false, input_html: { name: "person[education][%i][end_year]" } %>
      <% end %>
    </div>
    
    <a href="#" class="btn" data-behavior="new">New</a>
  </div>
  
  <h1>Work</h1>
  <div data-behavior="fieldset">
    <div data-behavior="sets">
    <% if @person.work %>
      <% @person.work.each_with_index do |work, i| %>
      <div>
        <h2 data-behavior="index"><%= i %></h2>
        <%= f.simple_fields_for :work do |n| %>
          <%= n.input :employer_id, as: :hidden, required: false, input_html: { name: "person[work][#{i}][employer_id]", value: work["employer_id"] } %>
          <%= n.input :employer_name, required: false, input_html: { name: "person[work][#{i}][employer_name]", value: work["employer_name"] } %>
          <%= n.input :position, required: true, input_html: { name: "person[work][#{i}][position]", value: work["position"] } %>
          <%= n.input :description, required: false, input_html: { name: "person[work][#{i}][description]", value: work["description"] } %>
          <%= n.input :start_date, required: false, input_html: { name: "person[work][#{i}][start_date]", value: work["start_date"] } %>
          <%= n.input :end_date, required: false, input_html: { name: "person[work][#{i}][end_date]", value: work["end_date"] } %>
        <% end %>
      </div>
      <% end %>
    <% end %>
    </div>
    
    <div class="hidden" data-behavior="template">
      <h2 data-behavior="index">0</h2>
      <%= f.simple_fields_for :work do |n| %>
        <%= n.input :employer_id, as: :hidden, required: false, input_html: { name: "person[work][%i][employer_id]" } %>
        <%= n.input :employer_name, required: false, input_html: { name: "person[work][%i][employer_name]" } %>
        <%= n.input :position, required: true, input_html: { name: "person[work][%i][position]" } %>
        <%= n.input :description, required: false, input_html: { name: "person[work][%i][description]" } %>
        <%= n.input :start_date, required: false, input_html: { name: "person[work][%i][start_date]" } %>
        <%= n.input :end_date, required: false, input_html: { name: "person[work][%i][end_date]" } %>
      <% end %>
    </div>
    
    <a href="#" class="btn" data-behavior="new">New</a>
  </div>
  
  <h1>Skills</h1>
  <div data-behavior="fieldset">
    <div data-behavior="sets">
    <% if @person.skills %>
      <% @person.skills.each_with_index do |skill, i| %>
      <div>
        <h2 data-behavior="index"><%= i %></h2>
        <%= f.simple_fields_for :skills do |n| %>
          <%= n.input :skill, input_html: { name: "person[skills][#{i}]", value: skill } %>
        <% end %>
      </div>
      <% end %>
    <% end %>
    </div>
    
    <div class="hidden" data-behavior="template">
      <h2 data-behavior="index">0</h2>
      <%= f.simple_fields_for :skills do |n| %>
        <%= n.input :skill, input_html: { name: "person[skills][%i]" } %>
      <% end %>
    </div>
    
    <a href="#" class="btn" data-behavior="new">New</a>
  </div>
  
  <h1>Contact</h1>
  <div data-behavior="fieldset">
    <div data-behavior="sets">
    <% if @person.phones %>
      <% @person.phones.each_with_index do |phone, i| %>
      <div>
        <h2 data-behavior="index"><%= i %></h2>
        <%= f.simple_fields_for :phones do |n| %>
          <%= n.input :type, required: false, input_html: { name: "person[phones][#{i}][type]", value: phone["type"] } %>
          <%= n.input :number, input_html: { name: "person[phones][#{i}][number]", value: phone["number"] } %>
        <% end %>
      </div>
      <% end %>
    <% end %>
    </div>
    
    <div class="hidden" data-behavior="template">
      <h2 data-behavior="index">0</h2>
      <%= f.simple_fields_for :phones do |n| %>
        <%= n.input :type, required: false, input_html: { name: "person[phones][%i][type]" } %>
        <%= n.input :number, input_html: { name: "person[phones][%i][number]" } %>
      <% end %>
    </div>
    
    <a href="#" class="btn" data-behavior="new">New</a>
  </div>
  
  <h1>Family</h1>
  <%= f.input :status %>
  
  <div data-behavior="fieldset">
    <div data-behavior="sets">
    <% if @person.family %>
      <% @person.family.each_with_index do |family, i| %>
      <div>
        <h2 data-behavior="index"><%= i %></h2>
        <%= f.simple_fields_for :family do |n| %>
          <%= n.input :id, as: :hidden, input_html: { name: "person[family][#{i}][id]", value: family["id"] } %>
          <%= n.input :name, input_html: { name: "person[family][#{i}][name]", value: family["name"] } %>
          <%= n.input :relationship, input_html: { name: "person[family][#{i}][relationship]", value: family["relationship"] } %>
        <% end %>
      </div>
      <% end %>
    <% end %>
    </div>
    
    <div class="hidden" data-behavior="template">
      <h2 data-behavior="index">0</h2>
      <%= f.simple_fields_for :family do |n| %>
        <%= n.input :id, as: :hidden, input_html: { name: "person[family][%i][id]" } %>
        <%= n.input :name, input_html: { name: "person[family][%i][name]" } %>
        <%= n.input :relationship, input_html: { name: "person[family][%i][relationship]" } %>
      <% end %>
    </div>
    
    <a href="#" class="btn" data-behavior="new">New</a>
  </div>
  
  <br />
  <%= f.submit "Save", class: "btn btn-primary" %>
<% end %>
