<div class="persons"
     data-behavior="persons-view"
     data-path="<%= organization_persons_path(@organization) %>"
     data-providers="Local<%= user_signed_in? ? "," + current_user.providers.join(",") : "" %>">
  <%=
    simple_form_for :search, url: search_organization_persons_path, method: :get, html: {
      data: { behavior: "form" },
      class: "form-search"
    } do |f|
  %>
    <%= f.input :provider, as: :hidden, input_html: { value: "Local" } %>
    <%= f.input :query, as: :search, label: false, required: false, placeholder: t("persons.search"), input_html: { class: "search-query" } %>
  <% end %>
  
  <div class="loader progress" data-behavior="loader">
    <div class="bar" style="width: 0%;"></div>
  </div>
  
  <div class="list" data-behavior="list">
  </div>
  
  <div class="filters">
    <div class="btn-group">
      <% t("persons.filters").each do |k, v| %>
        <button class="btn" data-behavior="filter" data-filter="<%= k %>"><%= v %></button>
      <% end %>
    </div>
  </div>
</div>

<div class="drop">
  <div data-behavior="droppable"></div>
  <div data-behavior="droppable"></div>
</div>
