<div class="sidebar" data-behavior="organization-sidebar">
  <div class="header">
    <a href="<%= organization_path(@organization) %>">
    <% if @organization.picture? %>
      <%= image_tag(@organization.picture.url(:preview)) %>
    <% else %>
      <h1><%= @organization.title %></h1>
    <% end %>
    </a>
    
    <% if @organization.description.present? %>
      <%= simple_format @organization.description %>
    <% end %>
  </div>
  <div class="contents" data-behavior="contents">
    <ul class="unstyled">
      <% if @organization.has_charts? %>
      <li><%= link_to t("organizations.sections.charts"), organization_charts_path(@organization) %></li>
      <% end %>
      
      <% if @organization.has_identities? %>
      <li><%= link_to t("organizations.sections.identities"), organization_identities_path(@organization) %></li>
      <% end %>
      
      <!--<li><%= link_to "About", "#" %></li>
      <li><%= link_to "People", "#" %></li>
      <li><%= link_to "Work Here", "#" %></li>
      <li><%= link_to "Contacts", "#" %></li>-->
      
      <% if @organization.domain.present? %>
      <li>
        <span class="icon-stack icon-verified"><i class="icon-certificate icon-stack-base"></i><i class="icon-ok icon-light"></i></span><%= link_to @organization.domain, "http://#{@organization.domain}" %>
      </li>
      <% end %>
    </ul>
    
    <% if can?(:update, @organization) %>
    <div class="edit">
      <p><%= t("organizations.you_are_owner") %></p>
      
      <ul class="unstyled">
        <li><%= link_to t("organizations.edit_organization"), edit_organization_path(@organization), class: "btn btn-mini" %></li>
        <li><%= link_to t("organizations.add_chart"), new_organization_chart_path(@organization), class: "btn btn-mini" %></li>
      </ul>
    </div>
    <% end %>
  </div>
</div>
