<div class="sidebar" data-behavior="organization-sidebar">
  <div class="logo">
    <% if @organization.picture? %>
      <%= image_tag(@organization.picture.url(:preview)) %>
    <% else %>
      <h1><%= @organization.title %></h1>
    <% end %>
  </div>
  <div class="contents" data-behavior="contents">
    <%= simple_format @organization.description %>
    
    <ul class="unstyled">
      <li><%= link_to "About", "#" %></li>
      <li><%= link_to "Chart", "#" %></li>
      <li><%= link_to "People", "#" %></li>
      <li><%= link_to "Work Here", "#" %></li>
      <li><%= link_to "Contacts", "#" %></li>
      <li>
        <span class="icon-stack icon-verified"><i class="icon-certificate icon-stack-base"></i><i class="icon-ok icon-light"></i></span><%= link_to "digitaloctober.ru", "http://digitaloctober.ru" %>
      </li>
    </ul>
  </div>
</div>
