<%
  action ||= :show
  form ||= nil
%>
<div class="sidebar" data-behavior="organization-sidebar">
  <div class="header">
    <div class="picture">
      <a href="<%= organization_path(@organization) %>">
      <% if @organization.picture? %>
        <%= image_tag(@organization.picture.url(:preview), data: { behavior: "picture" }) %>
      <% elsif action == :edit %>
        <%= image_tag("px.png", width: "1", data: { behavior: "picture" }) %>
      <% end %>
      </a>
      
      <% if action == :edit %>
      <div class="upload">
        <input class="file-upload" type="file" name="picture" data-url="<%= organization_path(@organization) %>" data-behavior="picture-upload">
        <a class="btn btn-action"><i class="icon-picture"></i> <%= t("organizations.edit.update_logo") %></a>
      </div>
      <% end %>
    </div>
    
    <% if action == :show %>
      <% if @organization.description.present? %>
        <%= simple_format @organization.description %>
      <% end %>
    <% end %>
  </div>
  <div class="sections" data-behavior="sections">
    <ul class="unstyled">
      <% if @organization.widget_areas.any? %>
        <% @organization.widget_areas.each do |area| %>
        <li><%= link_to area.humanize, page_organization_path(@organization, page: area) %></li>
        <% end %>
      <% end %>
      
      <% if @organization.has_vacancies? %>
        <li><%= link_to t("organizations.vacancies"), organization_vacancies_path(@organization) %></li>
      <% end %>
      
      <% if @organization.domain.present? %>
      <li>
        <span class="icon-stack icon-verified"><i class="icon-certificate icon-stack-base"></i><i class="icon-ok icon-light"></i></span><%= link_to @organization.domain, "http://#{@organization.domain}" %>
      </li>
      <% end %>
    </ul>
    
    <% if can?(:update, @organization) %>
    <div class="edit">
      <p><%= t("organizations.you_are_owner") %></p>
      
      <ul class="unstyled">
        <% if action == :edit %>
          <%= form.submit t("organizations.edit.save"), class: "btn btn-mini" %>
        <% else %>
          <li><%= link_to t("organizations.edit_organization"), edit_organization_path(@organization), class: "btn btn-mini" %></li>
          <li><%= link_to t("organizations.add_chart"), new_organization_chart_path(@organization), class: "btn btn-mini" %></li>
          <li><%= link_to t("organizations.add_vacancy"), new_organization_vacancy_path(@organization), class: "btn btn-mini" %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
  </div>
</div>
