<%
  collections = {
    charts: @organization.charts,
    recent_charts: @organization.charts.order_by(:updated_at.desc).limit(5)
  }
%>

<%= simple_form_for(@organization, html: { class: "form-horizontal organization-edit", data: { behavior: "organization-edit"} }) do |f| %>
<%= f.input :widgets, as: :hidden, input_html: { value: "" } %>

<div class="organization" data-behavior="organization-widgets" data-collections="<%= collections.to_json %>">
  <div class="row-fluid">
    <div class="span3 leftbar">
      <%= render partial: "/organizations/sidebar", locals: { action: :edit, form: f } %>
    </div>
    <div class="span6 constructor">
      <% @organization.widgets_enum.each do |area| %>
      <div class="area <%= area %>">
        <h1 class="heading"><%= area.humanize %></h1>
        
        <div class="contents" data-area="<%= area %>" data-behavior="sortable">
          <% if @organization.widgets && @organization.widgets[area] %>
            <% @organization.widgets[area].each do |widget| %>
              <%= content_tag(:div, data: { behavior: "render", config: Widget.type_config[widget["type"].to_sym], json: widget } ) {} %>
            <% end %>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
    <div class="span3 rightbar">
      <div class="widgets" data-behavior="widgets">
        <div class="widget title">
          <span class="caption"><%= t("organizations.edit.widgets_title") %></span>
          <span class="caption tablet"><%= t("organizations.edit.widgets_title_tablet") %></span>
          <i class="icon-arrow-left"></i>
        </div>
        
        <% Widget.type_enum.each do |type| %>
        <% config = Widget.type_config[type.to_sym] %>
        <div class="widget <%= type %><%= " hidden" if config[:hidden] %>" data-type="<%= type %>" data-config="<%= config.to_json %>" data-behavior="draggable">
          <i class="icon-<%= config[:icon] %>"></i>
          <span class="caption"><%= type.humanize %></span>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  
  <div class="modal hide fade" data-behavior="modal">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 data-behavior="title"></h3>
    </div>
    <div class="modal-body" data-behavior="body">
    </div>
  </div>
</div>
<% end %>
