<%
  collections = {
    charts: @organization.charts.map { |x| [x.id, x.title] },
    persons: @organization.identities.map { |x| [x.entity_id, x.title] }
  }
%>
<div class="organization container" data-behavior="organization-widgets" data-collections="<%= collections.to_json %>">
  <div class="row">
    <div class="span3">
      <%= render partial: "/organizations/sidebar", locals: { action: :edit } %>
    </div>
    <div class="span6 constructor">
      <% @organization.widgets_enum.each do |area| %>
      <div class="area <%= area %>">
        <h1 class="heading"><%= area.humanize %></h1>
        
        <div class="contents" data-area="<%= area %>" data-behavior="sortable">
          <% if @organization.widgets && @organization.widgets[area] %>
            <% @organization.widgets[area].each do |widget| %>
              <%= content_tag(:div, data: { behavior: "render", config: Widget.type_config[widget["type"].to_sym], json: widget } ) {} %>
            <% end %>
          <% end %>
        </div>
      </div>
      <% end %>
      <button class="btn btn-primary" data-behavior="save" data-action="<%= organization_path(@organization) %>"><%= t("organizations.edit.save") %></button>
    </div>
    <div class="span3">
      <div class="widgets" data-behavior="widgets">
        <div class="widget title">
          <span><%= t("organizations.edit.widgets_title") %></span>
          <i class="icon-arrow-left"></i>
        </div>
        
        <% Widget.type_enum.each do |type| %>
        <div class="widget <%= type %>" data-type="<%= type %>" data-config="<%= Widget.type_config[type.to_sym].to_json %>" data-behavior="draggable">
          <i class="icon-<%= Widget.type_config[type.to_sym][:icon] %>"></i>
          <%= type.humanize %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
