<div class="organization container">
  <div class="row">
    <div class="span3">
      <%= render partial: "/organizations/sidebar" %>
    </div>
    <div class="span9 inner">
      <% if @organization.has_charts? %>
        <!--<%= link_to t("organizations.sections.charts"), organization_charts_path(@organization) %>-->
      <% else %>
        <h1><%= t("organizations.no_charts") %></h1>
      <% end %>
      
      <% @widgets.each do |area, widgets| %>
        <% widgets.each do |widget| %>
        <% break if widget.split? %>
        <div class="widget <%= widget.type %>">
          <%= render partial: "/widgets/#{widget.type}", locals: { organization: @organization, widget: widget } %>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
