<!DOCTYPE html>
<html>
<head>
  <%= render partial: "/shared/meta" %>
  <%= render partial: "/shared/scripts" %>
</head>
<body>

<div class="wrapper">
  <%= render partial: "/shared/header" %>
  <%= render partial: "/shared/alerts" %>
  
  <div class="contents" data-behavior="contents">
    <%= yield %>
  </div>
</div>

<%= render partial: "/shared/footer" %>

</body>
</html>
