<!DOCTYPE html>
<html>
<head>
  <%= render partial: "/shared/meta" %>
</head>
<body class="<%= cls ||= '' %>">

  <%= render partial: "/shared/header" %>
  <section>
    <%= yield %>
  </section>
  <%= render partial: "/shared/footer" %>
  <%= render partial: "/shared/loading" %>

</body>
</html>
